{% load static %}
<!-- display punches given a list of punches-->
<script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>

<script type="text/javascript" src="{% get_media_prefix %}js/blocksit/blocksit.js"></script>	
<script type="text/javascript" src="{% get_media_prefix %}js/punchClientInteractions.js"></script>

<link type="text/css" href="{% get_media_prefix %}js/jquery-ui-1.8.20.custom/css/smoothness/jquery-ui-1.8.20.custom.css" rel="Stylesheet" />	

<script type="text/javascript" src="{% get_media_prefix %}js/jquery-ui-1.8.20.custom/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{% get_media_prefix %}js/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>


<div id="punchCollection" class="punchCollection">
{% for punch in punchList %}
    <div class="punch" data-size="1" id="{{punch.id}}">
    	<div class ="punchTitle">    	{{ punch.title }}</div>
    	<a onclick="togglePunch({{punch.id}})">
    		{% if "youtube" in punch.href %}
    		<img src="http://mariusgry.blogpaint.com/uploads/will_ferrell_small_01.jpg" class="punchImage" imageSource="{{punch.href}}"/>
    		{% else %}
    		<img src="{{punch.href}}" class="punchImage" imageSource="{{punch.href}}"/>
    		    {% endif %}
    		        	
    	</a>
    	<div class="buttonsPanel" >
    		<a href="#"  class="funnyButton" id="funnyButton">funny</a>	<a href="#" class="booButton" id="booButton" >boo</a> <a href="#" class="rePunchButton" id="rePunchButton" >repunch</a>
    	</div>
    	<p>
    		
    		<span class="funnyCount" id="funny{{punch.id}}"> funny:{{punch.funny_count}}	</span>
    		<span class="booCount"> boo:{{punch.boo_count}}	</span>

    	</p>	
    </div>
{% endfor %}
</div>


</div>
<div id="overlay" class="overlay">
	
</div>
<div id="overlayWrapper" class="overlayWrapper">
     	<div id ="overlayContent" class="overlayContent">
        	  <p>Content you want the user to see goes here.</p>
     	</div>
     </div>




<script type="text/javascript">



/**
 * boo button click
 */
$(document).ready(function() 
{

	$(".booButton").bind('click', function () {
		t = $(this).parent().parent()
		$.get("/boo/"+t.attr("id")+"/", function(data) {
			
			result = "boo:" + data.booCount
			t.find(".booCount").html(result)

		});
	});
});


/**
 * funny button click
 */

$(document).ready(function() 
{

	$(".funnyButton").bind('click', function () {
		t = $(this).parent().parent()
		$.get("/funny/"+t.attr("id")+"/", function(data) {
			
			result = "funny:" + data.funnyCount
			a = t.find(".funnyCount")
			t.find(".funnyCount").html(result)

		});
	});
});





/**
 * zoom in into a punch - copy its content and add it to the overlay content 
 */
function zoomPunch(id,src)
{
	var div = document.createElement('div');
	var jdiv = $(div)
	jdiv.attr("class","largePunch")
	if (src.indexOf("youtube")>=0)
	{
		var frm = document.createElement("iframe");
	var jimg = $(frm);
	jimg.attr("class","largePunchVid")

	jimg.attr("src",src);
	}
	else
	{
		
	var img = document.createElement('image');
	var jimg = $(img)
	jimg.attr("src",src)
	jimg.attr("class","largePunchImage")
	
	
	}
	

	
	var ja = $(document.createElement('a'))
	
	var title = document.createElement('div');
	var jtitle = $(title)
	jtitle.html("{{punch.title}}")
	jdiv.append(jtitle)
	ja.append(jimg)
	
	/* adding the image to the container*/
	jdiv.append(ja)
	
	/* addinf the iframe to the container*/
	/*var frame = document.createElement('iframe');
	var jframe = $(frame)
	jframe.attr("src",src)
	jframe.attr("class","videoFrame")
	jdiv.append(jframe)*/

	$("#overlayContent").empty()
	$("#overlayContent").append(jdiv)
	
	
}

/**
 * runs the blocks it code. this is a hack with the timer, need to change this
 * 
 */

$(window).load(function() {
	 $('#punchCollection').BlocksIt();
});



/**
 * repunch button click
 */
$(document).ready(function() 
{

	$(".rePunchButton").bind('click', function () {
		/**
		 * get punch id
		 */
		t = $(this).parent().parent()
		id = t.attr("id");
		onRepunchClick(id);
	});
});


/**
 * close overlay when clicking on it 
 */
$(document).ready(function() 
{
	$("#overlayWrapper").bind('click', togglePunch);
});

</script>


<style type="text/css">
.funnyCount,.booCount
{
	color:#8C7E7E;
	font-size: 11px;
	text-decoration: none;
	padding-left: 2px;
}
.punchImage
{
	
	width: 192px;
	cursor: pointer;
}
.punchTitle
{
	text-align: center;
	
}
.largePunchImage
{
	
	height: 100%;
	width: 100%;
}
.largePunchVid
{
	height: 100%;
	width: 100%;
	
}
.largePunch
{
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	padding: 15px ;
	/*margin-bottom: 2px;
	margin-left:10px;
	margin-top:2px;*/
	background-color: white;
}
.punch
{
	float:left;
	position: absolute;
	
	width: 192px;
	background-color: white;
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	padding: 15px 15px 0px;
	margin-bottom: 2px;
	margin-left:10px;
	margin-top:2px;
}
.punchCollection
{
	overflow:hidden;
	min-height: 500px;
	position:relative;
	margin-left: 80px;
	margin-right: 80px;

}

.repunchSubmitButton
{
	/*margin-top:20px;
	margin-left:20px;*/
	position: relative;
	top:40px;
	right:200px;
	cursor:pointer;
}

.funnyButton,.booButton,.rePunchButton, .repunchSubmitButton{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');*/
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	font-size: 10px;
}
.funnyButton:hover,.booButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');*/
	background-color:#dfdfdf;
}
.funnyButton:active, .booButton:active {
	position:relative;
	top:1px;
}
.buttonsPanel
{
	margin-top: 6px;
	/*margin-bottom: 6px;*/
}

.overlay {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 90;
     background-color: black;
	opacity: 0.7;

}
.overlayWrapper
{
	     visibility: hidden;

	position: absolute;
	z-index: 100;
	width: 100%;
	/*line-height: 0;*/
	left:0px;
	top:0px;
	
	
	
}
.overlayContent {
     width:330px;
     height:330px;
    margin: 100px auto;
     background-color: #fff;
     text-align:center;
     position: relative;
}
.videoImage
{
	position: absolute;
	left:50%;
	top:50%;
	max-width:190px;
	margin: -25px 10px 10px -25px;
	width: 50%;
	height:50%;
	background: black url("{{ STATIC_URL }}VideoIndicator.png") 
				

	
}
.repunchWidget
{
	
	background-color: lightgray;
	height:100%;
}
.videoFrame
{
	height: :100%;
	width:100%;
	
}

</style>





<meta charset="utf-8">
	
	
	
	
	
	
	
	
	
	<style>
	.ui-combobox {
		position: relative;
		display: inline-block;
	}
	.ui-button {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
		/* adjust styles for IE 6/7 */
		*height: 1.7em;
		*top: 0.1em;
	}
	.ui-autocomplete-input {
		margin: 0;
		color:blue;
		padding: 0.3em;
	}
	</style>
	<script>
	(function( $ ) {
		$.widget( "ui.combobox", {
			_create: function() {
				var input,
					self = this,
					select = this.element.hide(),
					selected = select.children( ":selected" ),
					value = selected.val() ? selected.text() : "",
					selectedCollectionId = value,
outWrapper =  $( "<div>" )
						.addClass( "out-wrapper" )
						.insertAfter( select );
					wrapper = $( "<span>" )
						.addClass( "ui-combobox" )
						.appendTo( outWrapper );

				input = $( "<input>" )
					.appendTo( wrapper )
					.val( value )
					.addClass( "ui-state-default" )
					.autocomplete({
						delay: 0,
						minLength: 0,
						source: function( request, response ) {
							var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
							response( select.children( "option" ).map(function() {
								var text = $( this ).text();
								if ( this.value && ( !request.term || matcher.test(text) ) )
									return {
										label: text.replace(
											new RegExp(
												"(?![^&;]+;)(?!<[^<>]*)(" +
												$.ui.autocomplete.escapeRegex(request.term) +
												")(?![^<>]*>)(?![^&;]+;)", "gi"
											), "<strong>$1</strong>" ),
										value: text,
										option: this
									};
							}) );
						},
						select: function( event, ui ) {

							ui.item.option.selected = true;
							self._trigger( "selected", event, {
								item: ui.item.option
							});
							selectedCollectionId = ui.item.option.value;


						},
						change: function( event, ui ) {
							if ( !ui.item ) {
								var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
									valid = false;
								select.children( "option" ).each(function() {
									if ( $( this ).text().match( matcher ) ) {
										this.selected = valid = true;
										return false;
									}
								});
								if ( !valid ) {
									// remove invalid value, as it didn't match anything
									$( this ).val( "" );
									select.val( "" );
									input.data( "autocomplete" ).term = "";
									return false;
								}
							}
						}
					})
					.addClass( "ui-widget ui-widget-content ui-corner-left" );


				buttonDiv = $( "<div>" ).html("repunch!").addClass("rePunchSubmitButton").appendTo( outWrapper );
				buttonDiv.attr("id","rePunchSubmitButton");
			
				buttonDiv.bind('click', function()
				{
						var pID = $("#combobox").attr("targetpunchid");
						repunch(pID,selectedCollectionId);
						toggleOverlay();
				});
				
			
			
		
				
				
				
				input.data( "autocomplete" )._renderItem = function( ul, item ) {
					return $( "<li></li>" )
						.data( "item.autocomplete", item )
						.append( "<a>" + item.label + "</a>" )
						.appendTo( ul );
				};

				$( "<a>" )
					.attr( "tabIndex", -1 )
					.attr( "title", "Show All Items" )
					.appendTo( wrapper )
					.button({
						icons: {
							primary: "ui-icon-triangle-1-s"
						},
						text: false
					})
					.removeClass( "ui-corner-all" )
					.addClass( "ui-corner-right ui-button-icon" )
					.click(function() {
						// close if already visible
						if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
							input.autocomplete( "close" );
							
							return;
						}

						// work around a bug (likely same cause as #5265)
						$( this ).blur();

						// pass empty string as value to search for, displaying all results
						input.autocomplete( "search", "" );
						input.focus();
					});
			},

			destroy: function() {
				this.outWrapper.remove()
				this.wrapper.remove();
				this.element.show();
				$.Widget.prototype.destroy.call( this );
			}
		});
	})( jQuery );

	
	
	
function openCombo()
{
		$( "#combobox" ).combobox();
		
	debugger;
}
	</script>

