<html>
	<body>
		
		<div class="headerSpan">
			
			<!--<img class="logo" src="http://localhost:8000/static/glove.jpg"> </img>-->
			<div class="logoTitle"> Punch. Where funny is</div>
			<div style="clear:both"></div>
		</div>
		{% include "punch/displayPunches.html " %}
		
	</body>	
</html>

<style type="text/css">
	
	
.logo
{
	
/*background: url("http://localhost:8000/static/glove.jpg");*/
width: 62px;
height:95px;
float:left;
}	


.logoTitle
{
	text-align: center;
	margin-top: 20px;
	margin-bottom:10px;
	font-size: 25px;
	font-weight: bold;
	color: red;
	background-color: #1b1b0f;
}
</style>